---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family:   "Open sans", Helvetica, Arial, sans-serif;
$special-font-family:"Quicksand", Helvetica, Arial, sans-serif;
$base-font-size:     1rem;
$base-line-height:   1.6875rem;
$small-font-size:    $base-font-size * 0.875;

$spacing-unit:       30px;

$text-color:         #22313F;
$background-color:   #fdfdfd;

$normal-links-color: #3498DB;
$visited-links-color:#2574A9;
$hover-links-color:  #4183D7;

$site-title-color:   #16A085;

$grey-color:         #BFBFBF; // SILVER SAND
$grey-color-light:   #F2F1EF; // CARARRA
$grey-color-dark:    #6C7A89; // LYNCH

$photo-width: 75px;
$photo-height: 75px;

$on-palm:            667px;
$on-tablet:          768px;
$on-laptop:          1024px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "typography",
        "syntax-highlighting"
;
