/**
* Site header
*/
.site-header {
  border-bottom: solid 1px $site-title-color;
  padding: ($spacing-unit * 2) 0;
  background: #fff;
  position: relative;

  @include whenMoreThan($on-palm) {
    padding: ($spacing-unit * 4) 0;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    line-height: 2;
    @include whenMoreThan($on-palm) {
      flex-direction: row;
    }
  }

  #photo {
    border-radius: 0.7rem;
    max-width: $photo-width;
    max-height: $photo-height;
    @include whenMoreThan($on-palm) {
      margin-right: 2rem;
    }
  }

}

a.site-title {
  font-size: 1.6rem;
  flex: 1;
  color: $site-title-color;
}

.site-nav {
  .page-link {
    color: $site-title-color;
  }
}



/**
* Site footer
*/
.site-footer {
  background: #446CB3;
  padding: ($spacing-unit * 2) 0;
  color: #fff;

  .wrapper {
    flex-direction: column;
    text-align: center;
    @include whenMoreThan($on-palm) {
      text-align: left;
      flex-direction: row;
    }
  }

  a {
    color: #fff;
  }
}

.contact-list,
.social-media-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-col {
  flex: 1 0 auto;
  padding-bottom: $spacing-unit;
  margin-bottom: $spacing-unit;
  border-bottom: dashed 1px #678cce;

  &:first-child {
    padding-top: 0;
    margin-top: 0;
  }

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  @include whenMoreThan($on-palm) {
    flex: 1 0 33%;
    border-bottom: none;
    padding: 0;
  }

}


/**
* Page content
*/
.home {
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 $spacing-unit;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    border-bottom: dashed 1px #ccc;
    padding-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  font-weight: 100;
}

.post-link {
  display: block;
}

.rss-subscribe {
  text-align: right;
  color: $grey-color-dark;
  font-size: .9rem;
}

/**
* Posts
*/
.post-header {
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 $spacing-unit;
}

.post-content {
  > p, h1, h2, h3, h4, h5, h6 {
    max-width: $content-width;
    margin-left: auto;
    margin-right: auto;
    padding: 0 $spacing-unit;
  }
}

.post-footer {
  position: relative;
  border-top: solid 1px #ccc;
  padding: $spacing-unit;
  max-width: $content-width;
  margin-left: auto;
  margin-right: auto;
}
