// Desctop and tablet
$h1-font-size: 4.25rem;
$h1-line: 1.6875rem;
$h1-lines: 3;
$h1-line-height: $h1-line * $h1-lines;
$h1-margin-top: 2 * $h1-line;
$h1-margin-bottom: 1 * $h1-line;

$h2-font-size: 2.625rem;
$h2-line: 1.6875rem;
$h2-lines: 2;
$h2-line-height: $h2-line * $h2-lines;
$h2-margin-top: 2 * $h2-line;
$h2-margin-bottom: 1 * $h2-line;

$h3-font-size: 1.625rem;
$h3-line: 1.6875rem;
$h3-lines: 1;
$h3-line-height: $h3-line * $h3-lines;
$h3-margin-top: 1 * $h3-line;
$h3-margin-bottom: 1 * $h3-line;

$h4-font-size: 1rem;
$h4-line: 1.6875rem;
$h4-lines: 1;
$h4-line-height: $h4-line * $h4-lines;
$h4-margin-top: 1 * $h4-line;
$h4-margin-bottom: 1 * $h4-line;

// Mobile

$m_h1-font-size: 2.0625rem;
$m_h1-line: 1.6875rem;
$m_h1-lines: 2;
$m_h1-line-height: $m_h1-line * $m_h1-lines;
$m_h1-margin-top: 2 * $m_h1-line;
$m_h1-margin-bottom: 1 * $m_h1-line;

$m_h2-font-size: 1.625rem;
$m_h2-line: 1.6875rem;
$m_h2-lines: 1;
$m_h2-line-height: $m_h2-line * $m_h2-lines;
$m_h2-margin-top: 2 * $m_h2-line;
$m_h2-margin-bottom: 1 * $m_h2-line;

$m_h3-font-size: 1.25rem;
$m_h3-line: 1.6875rem;
$m_h3-lines: 1;
$m_h3-line-height: $m_h3-line * $m_h3-lines;
$m_h3-margin-top: 1 * $m_h3-line;
$m_h3-margin-bottom: 1 * $m_h3-line;

$m_h4-font-size: 1rem;
$m_h4-line: 1.6875rem;
$m_h4-lines: 1;
$m_h4-line-height: $m_h4-line * $m_h4-lines;
$m_h4-margin-top: 1 * $m_h4-line;
$m_h4-margin-bottom: 1 * $m_h4-line;

h1, h2, h3, h4, .site-header, .site-footer {
  font-family: $special-font-family;
}

h1 {
  font-size: $m_h1-font-size;
  line-height: $m_h1-line-height;
  margin-top: $m_h1-margin-top;
  margin-bottom: $m_h1-margin-bottom;

  @include whenMoreThan($on-palm) {
    font-size: $h1-font-size;
    line-height: $h1-line-height;
    margin-top: $h1-margin-top;
    margin-bottom: $h1-margin-bottom;
  }
}

h2 {
  font-size: $m_h2-font-size;
  line-height: $m_h2-line-height;
  margin-top: $m_h2-margin-top;
  margin-bottom: $m_h2-margin-bottom;

  @include whenMoreThan($on-palm) {
    font-size: $h2-font-size;
    line-height: $h2-line-height;
    margin-top: $h2-margin-top;
    margin-bottom: $h2-margin-bottom;
  }
}

h3 {
  font-size: $m_h3-font-size;
  line-height: $m_h3-line-height;
  margin-top: $m_h3-margin-top;
  margin-bottom: $m_h3-margin-bottom;

  @include whenMoreThan($on-palm) {
    font-size: $h3-font-size;
    line-height: $h3-line-height;
    margin-top: $h3-margin-top;
    margin-bottom: $h3-margin-bottom;
  }
}

h4 {
  font-size: $m_h4-font-size;
  line-height: $m_h4-line-height;
  margin-top: $m_h4-margin-top;
  margin-bottom: $m_h4-margin-bottom;

  @include whenMoreThan($on-palm) {
    font-size: $h4-font-size;
    line-height: $h4-line-height;
    margin-top: $h4-margin-top;
    margin-bottom: $h4-margin-bottom;
  }
}

p, ul, ol, pre, table, blockquote {
  margin-top: 1.6875rem;
  margin-bottom: 1.6875rem;
}
