@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body > div,
body > div > div {
  height: 100%;
}

.portrait {
  background-image: url('../images/me-light.png');
}
@media (prefers-color-scheme: dark) {
  .portrait {
    background-image: url('../images/me-dark.png');
  }
}

.hero-text-bg {
  background-size: cover;
  background-position: 50%;
  background-image: url('../images/beach-pic.jpg');
}